.list li {
    background-color: rgb(119, 11, 11);
    margin: 5px;
    color: white;
    width: calc(14.28% - 10px);
    height: 50px;
    text-align: center; 
    border: 1px solid lime;
    list-style-type: none;
}


