*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
   
}

li{
    background-color: rgb(119, 11, 11);
    margin: 5px;
    color: white;
}

.fizz {
    color: yellow; 
}